body {
    font-family: 'Barlow', sans-serif;
    margin: 0 auto;
}

/* -----first part----- */
.first {
    display: flex;
    background-color: slategrey;
    border-radius: 40px;
    margin-top: 60px;
    margin-bottom: 150px;
    margin-left: 150px;
    margin-right: 150px;
}

.text {
    color: black;
}

.big {
    font-size: 70px;
    margin-top: 120px;
    margin-left: 80px;
}

.messi {
    margin-right: 100px;
    margin-top: 30px;
}

.small {
    margin-left: 80px;
    margin-right: 150px;
    margin-bottom: 40px;
}

.watch {
    text-decoration: none;
    color: white;
    background-color: red;
    margin-left: 80px;
    border-radius: 10px;
    padding: 15px 50px;
}

.watch:hover {
    background-color: green;
}

/* -----second part----- */
.three {
    background-color: slategray;
    width: 350px;
    height: 300px;
    margin-left: 150px;
    border-radius: 10px;
    text-align: center;
    display: grid;
}

.up {
    background-color: antiquewhite;
    width: 150px;
    margin-left: 60px;
    padding: 10px 5px;
    border-radius: 10px;
    margin-top: 20px;
}

.upp {
    color: black;
    text-decoration: none;
}

.all {
    background-color: antiquewhite;
    width: 150px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 10px 5px;
    border-radius: 10px;
}

.blog {
    background-color: rgb(220, 64, 64);
    color: white;
    width: 150px;
    margin-left: 60px;
    padding: 10px 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* -----third part----- */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-right: 130px;
}

.team {
    border: 2px solid wheat;
    border-radius: 10px;
    padding: 15px;
}

.team img {
    width: 85%;
}

.second {
    display: flex;
    gap: 20px;
}

.icn {
    display: flex;
    gap: 60px;
}

.last {
    background-color: slategray;
    height: 440px;
    margin-top: 100px;
}

.goal {
    text-align: center;
    padding-top: 150px;
    font-size: 40px;
    color: black;
    font-style: italic;
}

hr {
    border: 1px solid darkgray;
    margin-left: 150px;
    margin-right: 150px;
}

.final {
    display: flex;
    gap: 20px;
    padding-left: 450px;
    padding-top: 40px;
}

.twt {
    text-align: center;
    margin: 10px;
}

.whts {
    text-align: center;
    margin: 10px;
}

.t {
    text-decoration: none;
    color: black;
}

.w {
    text-decoration: none;
    color: black;
}

.f {
    text-decoration: none;
    color: black;
}

.febu {
    text-align: center;
    margin: 10px;
}

@media screen and (max-width:576px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        background-color: antiquewhite;
        flex-direction: column;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .container {
        grid-template-columns: (2, 1fr);
        background-color: blueviolet;
        flex-direction: column;
    }
}

@media screen and (max-width:576px) {
    .second {
        flex-direction: column;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .second {
        flex-direction: column;
    }
}

@media screen and (max-width:576px) {
    .final {
        grid-template-columns: (1, 1fr);
    }
}